@use './colors' as colors;
@use './typography' as typo;

html,
body,
#root {
   background-color: colors.$background-light;
   margin: 0;
   padding: 0;
   height: 100%;
   box-sizing: border-box;
   font-family: typo.$font-primary;
}
