@use './sizes.scss' as *;
// Breakpoint values
$breakpoint-xs: 320px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1440px;

// Mobile first approach - min-width
@mixin xs-up {
   @media screen and (min-width: $breakpoint-xs) {
      @content;
   }
}

@mixin sm-up {
   @media screen and (min-width: $breakpoint-sm) {
      @content;
   }
}

@mixin md-up {
   @media screen and (min-width: $breakpoint-md) {
      @content;
   }
}

@mixin lg-up {
   @media screen and (min-width: $breakpoint-lg) {
      @content;
   }
}

@mixin xl-up {
   @media screen and (min-width: $breakpoint-xl) {
      @content;
   }
}

@mixin xxl-up {
   @media screen and (min-width: $breakpoint-xxl) {
      @content;
   }
}

// Max-width approach - for specific ranges
@mixin xs-only {
   @media screen and (max-width: $breakpoint-sm - 1px) {
      @content;
   }
}

@mixin sm-only {
   @media screen and (min-width: $breakpoint-sm) and (max-width: $breakpoint-md - 1px) {
      @content;
   }
}

@mixin md-only {
   @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
      @content;
   }
}

@mixin lg-only {
   @media screen and (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl - 1px) {
      @content;
   }
}

@mixin xl-only {
   @media screen and (min-width: $breakpoint-xl) and (max-width: $breakpoint-xxl - 1px) {
      @content;
   }
}

// Common device targets
@mixin mobile {
   @media screen and (max-width: $breakpoint-md - 1px) {
      @content;
   }
}

@mixin tablet {
   @media screen and (min-width: $breakpoint-md) and (max-width: $breakpoint-lg - 1px) {
      @content;
   }
}

@mixin desktop {
   @media screen and (min-width: $breakpoint-lg) {
      @content;
   }
}

// Orientation based
@mixin landscape {
   @media screen and (orientation: landscape) {
      @content;
   }
}

@mixin portrait {
   @media screen and (orientation: portrait) {
      @content;
   }
}

// High resolution displays
@mixin retina {
   @media screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi) {
      @content;
   }
}

// Container widths for each breakpoint
.container {
   width: 100%;
   margin: 0 auto;
   padding: 0 $space-m;

   @include sm-up {
      max-width: $breakpoint-sm;
   }

   @include md-up {
      max-width: $breakpoint-md;
   }

   @include lg-up {
      max-width: $breakpoint-lg;
   }

   @include xl-up {
      max-width: $breakpoint-xl;
   }

   @include xxl-up {
      max-width: $breakpoint-xxl;
   }
}
