// Margin utilities
$m-0: 0;
$m-xs: 0.25rem;
$m-s: 0.5rem;
$m-m: 1rem;
$m-l: 1.5rem;
$m-xl: 2rem;
$m-xxl: 3rem;
$m-3xl: 5rem;
$m-4xl: 10rem;

// Padding utilities
$p-0: 0;
$p-xs: 0.25rem;
$p-s: 0.5rem;
$p-m: 1rem;
$p-l: 1.5rem;
$p-xl: 2rem;
$p-xxl: 3rem;
$p-3xl: 5rem;
$p-4xl: 10rem;
